<h1><%= @photo.name %></h1>

<%= image_tag @photo.image.url %>

<nav class="navbar navbar-fixed-buttom" role="navigation">

  <%= link_to "Delete Photo", photo_path(@photo), :class => 'navbar-brand',
                                                      :data =>
                                                      {:confirm => "You sure?",
                                                       :method => "delete"} %>
</nav>
